CompileFlags:
    Add:
    - -I/nix/var/nix/profiles/per-user/human/profile/include
    - -I/home/human/University/cg-cw-s4-bmstu/deps/GLFW
    - -I/home/human/University/cg-cw-s4-bmstu/deps/OpenGL/glad
    - -I/home/human/University/cg-cw-s4-bmstu/deps/ImGui
    - -std=c++20
